@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

 body{
    /* font-size: 12pt; */
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;
    background-color:#fff;
    line-height: 1.5;
}
@media (max-width:991px) {
    .circle{
        width: 320px;
        height: 320px;
    }
    .circle::before{
        top: 18px;
        left: 18px;
        transform-origin: 142px 142px;
    }
    .navbar-brand #logo{
        width: 100px;
    }

    .navbar-nav{
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item{
        padding:5px 15px;
        margin: 0;
    }
    .how-item.line-right::before{
        content: none;
    }
    .how-item{
        box-shadow: var(--shadow-black-300);
        border-radius: 10px;
        margin: 10px;
    }
}

@media (max-width:400px){
    .navbar #logo{
        height: 45px !important;
        width: 150px !important;
    }
}
@media (max-width:997px){
    .search-box{
        display:none;
    }
}
/* ==============Custom scroll bar============ */
::-webkit-scrollbar{
    /* width: 0; */
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5px;
}
/* @keyframes scrollbar {
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter:hue-rotate(360deg);
    }
} */
/* ================ Global css =============*/
*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
ul{
   list-style: none; 
}


:root{
    --main-color : #fbe345;
    --color-1:#e91e63;
    --color-3:#09d69c;
    --bg-dark:#2b2c2f;
    --main-to-dark-color:var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000;
    --black-400:#555;
    --black-100:#f7f7f7;
    --black-000:#fff;
    --black-alpha-100:rgba(0,0,0,0.05);
}

@keyframes spin01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop01{
    0%,100%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0);
    }
}
@keyframes bounceTop02{
    0%,100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}
@keyframes pulse01{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgb(255,255,255,1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 15px rgb(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgb(255,255,255,0);
    }
}
@keyframes preload {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes slideInDown {
    0% {
      opacity: 0;
      /* -webkit-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px); */
      transform: translateY(-20px);
    }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
.effect-wreap .effect-3{
    left: 5%;;
    bottom: 30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop01 3s linear infinite;

}
.section-padding{
    padding: 80px 10px;
}
.section-title h2{
    font-weight: 900;
    text-transform: uppercase;
    color: var(--black-900);

    align-items: center;
    text-align:center;
    margin-bottom: 40px;
}
.section-title span{
    color: var(--main-color);
}
/*============== Button================ */
.btn {
    background-size: 300% 100%; /*quan tronng*/
    transition: all 0.3s ease-in-out;

    height: 40px;
    width: 200px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;

    color: var(--black-900);
    text-align: center;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    background-position: 100% 0;
    /* transform:scale(0.9); */
    transition: all 0.4s ease-in-out;
    color: var(--black-900);

}
.btn.btn-1 {
    background-image: linear-gradient(to right,#fbe345,#ffffff,#ffffff,#fbe345);
    box-shadow: var(--shadow-black-300);
}
.to-top{
    width: 50px;
    height: 50px;
    
    position: fixed;
    bottom: 40px;
    right: 20px;

    font-size: 1.5rem;
    color: var(--black-900);
    background-color: var(--main-color);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    z-index: 10;
}
button.btnn.collapsed:before
{
    content:"\f0c9";
    display:block;
    width:15px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size:30px;
    transition: all 1s linear;
}
button.btnn:before
{
    content:'\f00d' ;
    display:block;
    width:15px;
    font-size: 30px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.search-box{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 40px;
    border-radius: 40px;    
}
.search-box i{
    color: var(--main-color);
}
.search-btn{
    float: right;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.search-text{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    float: left;
    padding: 0;
    background-color: white;
    transition: 0.4s;
    line-height: 40px;
    height: 40px;
    width: 0;
    border-radius: 40px;
    /* width: 250px; */
}
.search-box:hover> .search-btn{
    background: #fff;
}
.search-box:hover> .search-text{
    width: 270px;
    padding: 0 20px;
}

/* ==============Preload================ */
.preload{
    background-color: var(--main-color);
    position: fixed;
    z-index: 2000;
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preload span{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--black-900);
    display: block;
    animation: preload linear 1s infinite;
}

/* ================Navbar=============*/
.navbar{
    background-color: var(--main-color);
    padding: 0px 15px;
    overflow-x: hidden !important;
}

.navbar #logo{
    height: 60px;
    width: 250px;
}

.navbar-brand{
    color: #fff;

    font-size: 30px;
    font-weight: 500;
    text-transform:uppercase;
}

.navbar .nav-item{
    margin-left: 20px;
}
.navbar .nav-item .nav-link{
    position: relative;
    
    font-size: 1rem;
    font-weight: 900 !important;
    padding: 5px 0;

    color:#fff;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.navbar .nav-item .nav-link:before{
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition:all ease 0.3s;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active:before,
.navbar .nav-item .nav-link:hover:before{
    transform: scale(1);
}

.navbar-shrink {
    background-color:var(--main-color);
    box-shadow: var(--shadow-black-300);
    animation: slideInDown 2s ease;
     /* transform: translateY(-5px); */
}









/* ===============Home section */
.home{
    min-height:100vh ;
    padding: 60px 0;
    border-radius: 0 0 150px 0;
    background-color: var(--main-color);
    overflow: hidden !important;
}
.home-img{
    position: relative;
}
.home-img img{
    max-width: 350px;
    width: 100%;
    height: 350px;

    border-radius: 10px;
    box-shadow: var(--shadow-black-900);
    animation: bounceTop01 3s ease infinite;
}
/* ===========Clock============ */
#clock{
    font-weight: 900;
    font-size: 20px;
    color:var(--black-900);
    margin:20px 0px;
    box-shadow: var(--shadow-black-300);
    min-width: 200px;
    height: 40px;
    border-radius: 50px;    
    padding-left:5px;
    text-align: center;
    line-height: 40px;
}

@media only screen and (min-width : 767px){
    #clock {
       margin: 10px 0;
       display: none;
    }
}
/* ========================= */
.home-text h2{
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin: 0 0 20px;
}
.home-text span{
    color: black;
}
.home-text p{
    font-weight: 900px;
    font-size: 22px;
    line-height: 28px;
    color: black;
    margin: 0;
}
.home-text img{
    height: 60px;
    width: 250px;
}
.home-topcircle{
    margin-bottom: 40px;
    transform: translateY(-12px);
}
.home-img .circle{
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;

    border-radius: 50%;
    border:solid rgb(255,255,255,0.5) 1px;
    transform: translate(-50%,-50%);
}
.home-img .circle::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 30px;
    top: 30px;
    background: rgb(255,255,255,0.5);
    transform-origin: 170px 170px;
    animation: spin01 10s linear infinite;
}

.btn-playvideo{
    height: 40px !important;
    width: 40px !important;
    border-radius: 40px;
    margin-left: 20px;
    animation: pulse01 1s ease infinite;
    /* box-shadow: var(--shadow-black-100) !important; */
}









/*================Video Popup============ */
.video-popup{
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.7);

    opacity: 0;
    visibility: hidden;
    transition : all 0.6s linear;
}
.open{
    opacity: 1;
    visibility: visible;
}

.video-popup-inner{
    width: 100%;
    max-width: 900px;
    position: relative;
}
.video-popup-close{
    position: absolute;
    
    right: 0;
    top: -30px;
    width: 30px;
    height: 30px;

    font-size: 16px;
    color: #fff;
    text-align : center;
}
.video-popup .iframe-box{
    height: 0;
    overflow-x: hidden;
    padding-top: 56.25%;
}
.video-popup #box-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}







/* ===================Carousel=================== */
.features .features-item{
    position: relative;
    display: block;

    margin:10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

    z-index: 1;
    box-shadow: var(--shadow-black-100);
}

.features-item::before,
.features-item::after{
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s ease;
}
 .features-item::before{
    left: -20px;
    top: 40%;
    width: 20px;
    height: 20px;

    background-color: var(--black-900);
    
}
 .features-item:hover::before{
    left:10px;
    opacity: 1;
}
/* === */
.features .features-item::after{
    right: -30px;
    top: 80%;
    width: 40px;
    height: 40px;

    background-color: var(--main-color);
    
}
.features-item:hover::after{
    right:-10px;
    opacity: 1;
}
/* ==== ===========================================*/
.features .features-item .icon{
    position: relative;

    height: 60px;
    width: 60px;
    text-align: center;
    margin:0 auto 30px;
    
    z-index: 1;
}
.icon::before{
    content: '';
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;

    background:var(--black-900);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}
.features-item:hover .icon::before{
    left: 0;
    border-radius: 50%;
    opacity: 1;
}

/* ======= ==================================*/
.features .features-item i{
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 60px;
}
.features .features-item h3{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    margin:20px  0;
    color: var(--black-900);
}




/* ======Next button owl carousel========== */
 
.owl-nav{
    padding: 0 15px;
    margin: 10px;
    text-align: center;
}
.owl-carousel button.owl-prev span{
    font-size: 50px;
    color: var(--main-color);
    font-weight: 900;
    margin-right: 15px;
}
.owl-carousel button.owl-next span{
    font-size: 50px;
    color: var(--main-color);
    font-weight: 900;
    margin-left: 15px;
}
/* ==================Method======================= */
.fun-fact{
    background-color:var(--black-100);
}
.fun-fact-item{
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

    text-align: center;
    box-shadow: var(--shadow-black-100);
    min-height: 150px;
    position: relative;
}

.fun-fact-item::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--black-900);
    transform-origin: bottom;
    border-radius: 10px;
    transform: scaleY(0);
    transition:  all linear 0.3s;
}
.fun-fact-item:hover::before{
    transform: scaleY(1);
    transition:  all linear 0.3s;
}
.fun-fact-item:hover span,
.fun-fact-item:hover h3{
    color:#fff;
}
.style{
    background-color: var(--main-color);
}


.fun-fact-item h3{
    position: relative;
    color: black;
    font-weight: 900;
    font-size: 2rem;
    z-index: 2;
}
.fun-fact-item span{
    position: relative;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5px;
    font-weight: 900;
    z-index: 2;
}
.fun-fact img{
    /* max-width: 350px; */
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-900);
    animation: bounceTop01 3s ease infinite;
}







/* ============== app screen=================== */
.app-item{
    display: block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
    overflow:hidden

}
.app-item img{
    border-radius: 10px;
    transform: scale(1);
    transition: all linear 0.3s ;
}
.app-item :hover img{
    transform: scale(1.1);
    transition: all linear 0.3s ;
}




/* ================= figure================ */
/* background image */
figure{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 !important;
}
.fixed-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed{
    background-image: url(./Image/img/cube2.jpg);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}



/* ============tutorials============= */
.download {
    background-image: url(./Image/img/aa.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    z-index: 1;
}
.download::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
}
.download-item{
    text-align:center;
    font-weight: 900;
    color: var(--black-900);
    border-radius: 10px;
    border-radius: 10px;
    padding: 40px 20px;
    border: 5px solid var(--black-900);
}
.download-item i{
    font-size: 2.5rem;
    color:var(--black-100);
    padding-bottom: 20px;
}
.download-item h3{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.5rem;
    margin:20px  0;
    color: var(--main-color);
}
.download-item p{
    color: var(--black-000);
}
.download-item:hover{
    animation: bounceTop02 3s linear infinite;
    cursor: pointer;
}








/* =============How================ */
.how-item{
    padding:30px;
    text-align:center;
    position: relative;
    z-index: 1;
}
.line-right::before{
    content: "";
    left:50%;
    top: 59px;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--black-900);
    z-index: -1;
}
.how-item .step{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    background-color: var(--main-color);
    color: var(--black-900);
    font-size: 30px;
    font-weight: 900;
    margin-bottom:20px
}
.how-item h3{
    color: var(--black-900);
    margin: 20px 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.how-item p{
    color: var(--black-900);
    line-height: 26px;
    margin: 0;
}











/* ===================== News===================== */
.overlay{
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.85);
    opacity: 0;
    transition: all .4s linear;
    opacity: 0;
    visibility: hidden;
}
.news-item:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.news-item{
    height: 300px;
    width: 100%;
    border-radius: 50px;
    position: relative;
    background-image: url(./Image/img/img37.jpg);
    /* clip-path: circle(190px at 50% 50%); */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: center center;
    margin-bottom: 10px;
    overflow:hidden;
}
.news-item-1{
    background-image: url(./Image/img/nahm.jpg);
}
.news-item-2{
    background-image: url(./Image/img/bill.jpg);
}
.news-item-3{
    background-image: url(./Image/img/wrc.jpg);
}
.news-item::after{
    content: "";
    top: 50%;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color:var(--main-color);
    position: absolute;
    z-index: 4;
    transition: linear 0.4s;
    opacity: 0;
    visibility: hidden;
}
.news-item:hover:after{
    top: 50%;
    left: 25%;
    transition:  all linear 0.4s;
    opacity: 1;
    visibility: visible;
}
.content2 h2{
    justify-content: center;
    align-items: center;
    color:var(--main-color);
    font-size: 1.5rem;
    font-weight: 900;
    opacity: 0;
    visibility: hidden;
    padding-top: 120px;
    /* padding-top: 45%; */
    transform: translateY(0%);
    transition:  all linear 0.4s;
}
.news-item:hover h2{
    transform: translateY(-25%); 
    transition:  all linear 0.4s;
    opacity: 1;
    visibility: visible; 
}
.content2 .news-icon{
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 2rem;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    transform: translateY(-50%);
    transition:  all linear 0.4s;
}
.news-item:hover .news-icon{
    transform: translateY(50%); 
    transition:  all linear 0.4s;
    opacity: 1;
    visibility: visible; 
}
.news-icon li{  
    margin: 0 20px;
}
.news-icon li:hover{  
    cursor: pointer;
    color: #fff;
    transition: linear 0.5s;
}


/* ================== Contact ============== */
.contact{
    background-color: var(--black-100);
}
.contact-info h3{
    /* text-align: center; */
    font-size: 22px;
    font-weight: 900;
    margin: 0 0 10px;
    color: var(--black-900);
    padding-bottom: 30px;
}
.contact-info-item {
    position: relative;
    padding-left: 55px;
    margin-bottom: 4px;
}
.contact-info-item i{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 18px;
    color: var(--main-color);
    border:solid 1px var(--black-900);
    line-height: 50px;
    text-align: center;
}
.contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    color: var(--black-900);
}

.contact-form button{
    background-color: var(--main-color);
    box-shadow: var(--shadow-black-300);
    outline: none;
    border :none;
}
.contact-form .form-group{
    margin-bottom: 25px;    
}
.contact-form .form-control{
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shadow-black-100);
    columns: var(--black-400);
    background-color: var(--black-000);
    transition: all 0.5s linear;
    padding-left: 24px;
}
.contact-form .form-control:focus{
    border-color:var(--main-color);
}
.contact-form textarea .form-control {
    padding-top:12px !important;
    height: 150px !important;
    /* resize: none; */
}
/* ============FAQ section============== */
.accordion-item :not(:last-child){
    margin-bottom: 30px;
}
.accordion-header{
    box-shadow: var(--shadow-black-100);
    padding: 20px 30px;
    transition: all 0.5s linear;
    cursor: pointer;
    position: relative;
}
/* add sub button */
.accordion-header::before{
    content: "\f067";
    top:50%;
    right:10px;
    position: absolute;
    transform: translateY(-50%);

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    line-height: 30px;
    text-align: center;
}
.accordion-header:not(.collapsed)::before{
    content:"\f068";
}
.accordion-header:not(.collapsed){
    background-color: var(--main-color);
}
.accordion-header:not(.collapsed) h3{
    color: var(--black-900);
}
.accordion-header h3{
    font-size: 22px;
    font-weight: 900;
    color: var(--black-400);
    margin: 0;
    transition: all 0.5s linear;
}
.accordion-body{
    padding: 30px;
    background-color: var(--black-100);
}
.accordion-body p{
    font-size: 18px;
    font-weight: 700;
    color: var(--black-900);
    /* color: var(--main-color); */
    line-height: 26px;
}

/* ===============footer================ */
footer{
    padding: 2.5rem 0 ;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 900;
    font-size: 1rem;
}
footer h3{
    /* color: black; */
    margin-bottom:30px;
    color: black;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 3px;
}

footer .nav-link{
    color: white;
    padding-left: 0;
    padding-top: 0;
    letter-spacing: 3px;
    transition: all 0.3s linear;
}
footer .nav-link:hover{
    padding-left: 10px;
    transition: all 0.3s linear;
    color: black;
}
footer .footer-info-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}
footer .footer-info-item h4{
    color: black;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 3px;
}
footer .footer-info-item i{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    border:solid 1px var(--black-900);
    line-height: 50px;
    text-align: center;
}
.footer-social li{
    font-size: 40px;
    margin-top:10px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}
.footer-social li:hover{
    color:var(--black-900);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.copy{
    border-top:.1rem solid var(--black-900);
}
.social a i{
    font-size: 4rem;
    padding: 0 2rem;
    color:#fff;
    transform:translateY(0);
    transition: all 0.3s linear;
}
.social a:hover i{
    color: var(--black-900);
    transform:translateY(-15px);
    transition: all 0.3s linear;
}
@media(max-width:575px){
    .social a{
        padding:0 1rem;
        font-size: 2rem;
    }
    .social a:hover{
        color: var(--black-900);
        transition: all 0.2s linear;
    }
}


/* ================Toast Menu================= */
#toast {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 300px;
    border-left: 4px solid;
    box-shadow: var(--shadow-black-300);
    transition: all linear 0.3s;
  }
  
 
  
  .toast--success {
    border-color:var(--black-900);
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
    /* font-size: 24px; */
  }
  
  .toast__body {
    flex-grow: 1;
  }
  .toast__title {
    font-size: 16px;
    font-weight: 900;
    color: var(--main-color);
    text-transform: uppercase;
  }
  
  .toast__msg {
    font-size: 14px;
    color: var(--black-900);
    margin-top: 6px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  
  .toast__close {
    font-size: 20px;
    color:var(--black-900);
    cursor: pointer;
  }
  /* ====================================== */
/* ===================Form=================== */
.form-group.success input {
    border-color: #2ecc71;
    margin-bottom: 0; 
  }
  
  .form-group.error input {
    border-color: #e74c3c;
    margin-bottom: 0;
  }
  .form-group small {
    color: #e74c3c;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-group.error small {
    visibility: visible;
  }

  .form .form-group .error{
    margin-bottom: 0;
  }
  /* ================Line Text================== */
.line-text{
    width: 100%;
    margin: 0 auto;
}
.line{
    text-align: center;
    position: relative;
}
.line::after{
    content: "";
    top: 25%;
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    transform: translateY(-50%);
    background-color: var(--black-900);
}
.text{
    position: relative;
    background: white;
    z-index: 1;
    padding: 0 10px;
    display: inline-block;
}
  